@import url(bootstrap.css);
@import url(bootstrap-responsive.css);
@import url(datepicker.css);

@media (min-width: 980px) {
    body {
        /* 60px to make the container go all the way to the bottom of the topbar */
        padding-top: 60px;
    }
}

body {
    background-color: #333;
}

.navbar .brand {
    font-family: "Franklin Gothic FS ", "League Gothic", sans-serif;
    font-weight: bold;
    color: #111;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1), 0px 0px 30px rgba(255, 255, 255, 0.125);
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2), 0px 0px 20px rgba(255, 255, 255, 0.125);
}

.navbar .brand:hover {
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1), 0px 0px 30px rgba(255, 255, 255, 0.4);
}

#date {
    cursor: pointer;
}

.game {
    color: #fff;
}

.game .team_name {
    font-weight: bold;
}

.game td {
    border: none;
}

.game .ampm {
    text-transform: lowercase;
}

.updateAlert {
    margin-top: 32px;
}
#main .date {
    text-align: center;
    color: #fff;
}

#games {
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 300ms;
  -moz-transition-timing-function: ease;
  -moz-transition-delay: 0;

  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 300ms;
  -webkit-transition-timing-function: ease;

  -o-transition-property: -o-transform;
  -o-transition-duration: 300ms;
  -otransition-timing-function: ease;

  /* To trigger hardward acceleration for webkit:
     http://www.html5rocks.com/en/tutorials/speed/quick/#toc-hwaccel
     May need to remove */
  -webkit-transform: translateZ(0);
}

#games.left {
  transform: translateX(-100%);
}
#games.right {
  transform: translateX(100%);
}
